@page "/search"
@using Services
@inject IDepartmentService deptService
<h3>Search</h3>
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <input name="txtSearch" type="text" @bind-value="Keyword" />
                <button name="btnSearch" type="submit" @onclick="SearchData" class="btn btn-primary">
                    Search
                </button>
            </div>
        </div>
        <p></p>
        <div class="row">
            <div class="col-lg-12">
                @if (IsLoaded)
                {
                    <SearchResults @bind-Results="@results"></SearchResults>
                }
                else
                {
                   <div></div>
                }
            </div>
        </div>
    </div>


</div>

@code{
    private string Keyword { get; set; } = string.Empty;

    private List<SearchDto> results { get; set; } = new();

    private bool IsLoaded { get; set; } = false;

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    private async Task SearchData()
    {
        IsLoaded = false;
        results = await deptService.Search(Keyword);
        IsLoaded = true;
    }
}